<?xml version="1.0"?>
<ArrayOfLinkProcessingInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LinkProcessingInfo>
    <Host>js.devexpress.com/demos</Host>
    <UseFragment>false</UseFragment>
    <SegmentIndex>2</SegmentIndex>
    <ParseTitleAttribute>false</ParseTitleAttribute>
    <RemoveChars>_#</RemoveChars>
    <ReplaceChars>/&gt;</ReplaceChars>
    <TrimChars> &gt;</TrimChars>
    <SplitCamelCase>true</SplitCamelCase>
    <CapitalizeWords>false</CapitalizeWords>
  </LinkProcessingInfo>
  <LinkProcessingInfo>
    <Host>js.devexpress.com</Host>
    <UseFragment>true</UseFragment>
    <SegmentIndex>0</SegmentIndex>
    <ParseTitleAttribute>false</ParseTitleAttribute>
    <RemoveChars>_#</RemoveChars>
    <ReplaceChars>/&gt;</ReplaceChars>
    <TrimChars> &gt;</TrimChars>
    <SplitCamelCase>false</SplitCamelCase>
    <CapitalizeWords>false</CapitalizeWords>
  </LinkProcessingInfo>
  <LinkProcessingInfo>
    <Host>docs.devexpress.com</Host>
    <UseFragment>true</UseFragment>
    <SegmentIndex>-1</SegmentIndex>
    <ParseTitleAttribute>true</ParseTitleAttribute>
    <RemoveChars>#</RemoveChars>
    <SplitCamelCase>false</SplitCamelCase>
    <SplitAndTake>|0</SplitAndTake>
    <CapitalizeWords>true</CapitalizeWords>
  </LinkProcessingInfo>
  <LinkProcessingInfo>
    <Host>codepen.io</Host>
    <StaticTitle>CodePen Example</StaticTitle>
    <UseFragment>false</UseFragment>
    <SegmentIndex>0</SegmentIndex>
    <ParseTitleAttribute>false</ParseTitleAttribute>
    <SplitCamelCase>false</SplitCamelCase>
    <CapitalizeWords>false</CapitalizeWords>
  </LinkProcessingInfo>
  <LinkProcessingInfo>
    <Host>stackblitz.com</Host>
    <StaticTitle>StackBlitz Example</StaticTitle>
    <UseFragment>false</UseFragment>
    <SegmentIndex>0</SegmentIndex>
    <ParseTitleAttribute>false</ParseTitleAttribute>
    <SplitCamelCase>false</SplitCamelCase>
    <CapitalizeWords>false</CapitalizeWords>
  </LinkProcessingInfo>
  <LinkProcessingInfo>
    <Host>jsfiddle.net</Host>
    <StaticTitle>JSFiddle Example</StaticTitle>
    <UseFragment>false</UseFragment>
    <SegmentIndex>0</SegmentIndex>
    <ParseTitleAttribute>false</ParseTitleAttribute>
    <SplitCamelCase>false</SplitCamelCase>
    <CapitalizeWords>false</CapitalizeWords>
  </LinkProcessingInfo>
  <LinkProcessingInfo>
    <Host>docs.microsoft.com</Host>
    <UseFragment>false</UseFragment>
    <SegmentIndex>0</SegmentIndex>
    <ParseTitleAttribute>true</ParseTitleAttribute>
    <SplitCamelCase>false</SplitCamelCase>
    <SplitAndTake>|0</SplitAndTake>
    <CapitalizeWords>false</CapitalizeWords>
  </LinkProcessingInfo>
</ArrayOfLinkProcessingInfo>